body{
  background: linear-gradient(to bottom, rgb(246, 255, 204) 0%, rgb(255, 195, 223) 100%);
}

* {
  box-sizing: border-box;
}

.centered {
  margin: auto;
  width: max-content;
}

.flipbook {
  margin: 3em auto;
  width: 1200px; /* Aumenta el ancho del libro */
  height: 800px; /* Aumenta la altura del libro */
  position: relative;
  transform-style: preserve-3d;
  perspective: 1500px;
}

.flipbook .leaf {
  position: absolute;
  transform-style: preserve-3d;
  height: 100%;
  width: 50%;
  background-image: url("TexturaPa.jpg"); /* Reemplaza con la ruta de tu imagen */
  background-size: cover;
  background-position: center;
  left: 50%;
  transition: transform 1s ease-in-out;
  transform: rotate3d(0, 1, 0, 0deg);
  transform-origin: left 0px;
}

.flipbook .leaf .page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.flipbook .leaf .page.front {
  transform: rotate3d(0, 1, 0, 0deg) translate3d(0, 0, 0.1px);
}

.flipbook .leaf .page.front:not(.external) {
  box-shadow: inset 5px 0px 5px -5px #0005;
}

.flipbook .leaf .page.back {
  transform: rotate3d(0, 1, 0, 180deg) translate3d(0, 0, 0.1px);
}

.flipbook .leaf .page.back:not(.external) {
  box-shadow: inset -5px 0px 5px -5px #0005;
}

.disable {
  user-select: none;
  opacity: 0.6;
}

.title {
  text-align: center;
  width: 100%;
  padding: 0em !important;
  padding-top: 2em;
}

.page {
  padding: 1em;
}

.page.front {
  border-radius: 0em 1em 1em 0;
}

.page.back {
  border-radius: 1em 0em 0em 1em;
}

.pageNumber {
  font-size: 0.75em;
  position: absolute;
  bottom: 0.5em;
}

.front .pageNumber {
  right: 0.75em;
}

.back .pageNumber {
  left: 0.75em;
}

.contents-row {
  display: flex;
  flex-flow: row nowrap;
}

.contents-row .spacer {
  flex: 1 1;
  height: 1em;
  border-bottom: 1px dashed #000;
}

.contents-row .text {
  flex: 0 0 auto;
}
.page.front {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


h1 {
  font-size: 50px;
}
.page.back h2 {
  font-size: 50px;
}
.page.back p {
  font-size: 25px;
}

.page.front.title.external h1 {
  font-size: 120px;
  padding: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.audio-player {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 50px;
  width: 400px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
}

/* Estilos para pantallas de 1024px o menos */
@media (max-width: 1024px) {
  .flipbook {
    width: 900px;
    height: 580px;
  }

  img {
    height: 350px;
    width: 280px;
  }

  h1 {
    font-size: 45px;
  }

  .page.back h2 {
    font-size: 30px;
  }

  .page.back p {
    font-size: 20px;
  }

  .page.front.title.external h1 {
    font-size: 90px;
    padding: 50px;
  }

  .audio-player {
    max-width: 350px;
  }
}

/* Estilos para pantallas de 780px o menos */
@media (max-width: 780px) {
  .flipbook {
    width: 750px;
    height: 500px;
  }

  img {
    height: 300px;
    width: 250px;
  }

  h1 {
    font-size: 35px;
  }

  .page.back h2 {
    font-size: 25px;
  }

  .page.back p {
    font-size: 18px;
  }

  .page.front.title.external h1 {
    font-size: 70px;
    padding: 40px;
  }

  .audio-player {
    width: 300px;
  }
}

/*///////////////*/
button {
  width: 200px;
  height: 50px;
  font-size: 20px;
  background: #aa4a44;
  border-style: none;
  color: #fffdd2;
  font-family: "PMingLiU-ExtB", serif;
  position: relative;
  padding: 0px;
  overflow: hidden;
  transition: all .5s;
  box-shadow: 0px 1px 2px rgba(0,0,0,.2);
}

button span {
  position: absolute;
  display: block;
}

button span:nth-child(1) {
  height: 3px;
  width: 200px;
  top: 0px;
  left: -200px;
  background: linear-gradient(to right, rgba(0,0,0,0), #f6e58d);
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
  animation: span1 2s linear infinite;
  animation-delay: 1s;
}

@keyframes span1 {
  0% {
      left: -200px;
  }
  100% {
      left: 200px;
  }
}

button span:nth-child(2) {
  height: 70px;
  width: 3px;
  top: -70px;
  right: 0px;
  background: linear-gradient(to bottom, rgba(0,0,0,0), #f6e58d);
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  animation: span2 2s linear infinite;
  animation-delay: 2s;
}

@keyframes span2 {
  0% {
      top: -70px;
  }
  100% {
      top: 70px;
  }
}

button span:nth-child(3) {
  height: 3px;
  width: 200px;
  right: -200px;
  bottom: 0px;
  background: linear-gradient(to left, rgba(0,0,0,0), #f6e58d);
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
  animation: span3 2s linear infinite;
  animation-delay: 3s;
}

@keyframes span3 {
  0% {
      right: -200px;
  }
  100% {
      right: 200px;
  }
}

button span:nth-child(4) {
  height: 70px;
  width: 3px;
  bottom: -70px;
  left: 0px;
  background: linear-gradient(to top, rgba(0,0,0,0), #f6e58d);
  border-top-right-radius: 1px;
  border-top-left-radius: 1px;
  animation: span4 2s linear infinite;
  animation-delay: 4s;
}

@keyframes span4 {
  0% {
      bottom: -70px;
  }
  100% {
      bottom: 70px;
  }
}

button:hover {
  transition: all .5s;
  transform: rotate(-3deg) scale(1.1);
  box-shadow: 0px 3px 5px rgba(0,0,0,.4);
}

button:hover span {
  animation-play-state: paused;
}